<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/style.css">
    <title>CSGrenade | Feedback</title>
</head>
<body class="feedback-body">
    <div class="intro">
        <video src="../static/video/background_feedback.mov" muted autoplay loop></video>
    </div>
    <div id="snow-fall" class="snow-fall ._feedback"></div>
    <div class="wrapper">
        <header id="header" class="header" style="background-color: #000;">
        <div class="header__container">
                <a href="home"><img src="../static/img/logo/CSGLogo1.png" alt="logo" class="header__logo"></a>
                <div class="header__menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a class="menu__link" data-goto="" href="/home">Главная</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Карты</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Контакты</a></li>
                            <li><a class="menu__link link__on-page" data-goto="" href="feedback">Обратная связь</a></li>
                        </ul>
                    </nav>           
                </div>       
            </div>
        </header>

        <section class="feedback">
            <div class="__container">
                <div class="feedback__content">
                    <div class="feedback__box">
                        <h1>Напишите нам</h1>
                        <form action="" method="post" class="feedback__form">
                            
                            <div class="validate__input">
                                <input name="name" type="text" class="feedback__input"  required>
                                <span class="focus__input" data-placeholder="Имя"></span>
                            </div>

                            <div class="validate__input">
                                <input name="email" type="text" class="feedback__input"  required>
                                <span class="focus__input" data-placeholder="Email"></span>
                            </div>

                            <div class="validate__input">
                                <textarea name="message" id="" cols="30" rows="10" class="feedback__input feedback__textarea"  required></textarea>
                                <span class="focus__input2" data-placeholder="Сообщение"></span>
                            </div>
                            <input class="feedback__button" type="submit"></input>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
        </footer>
    </div>
    
    <script src="../static/js/main.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>