<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/style.css">
    <title>CSGranade</title>
</head>
<body class="feedback-body">
    <div id="snow-fall ._feedback"></div>
    <div class="wrapper">
        <header id="header" class="header" style="background-color: #000;">
        <div class="header__container">
                <a href="home"><img src="../static/img/logo/CSGLogo1.png" alt="logo" class="header__logo"></a>
                <div class="header__menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a class="menu__link" data-goto="" href="#">Карты</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Наши работы</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Контакты</a></li>
                            <li><a class="menu__link" data-goto="" href="feedback">Обратная связь</a></li>
                        </ul>
                    </nav>           
                </div>       
            </div>
        </header>

        <section class="feedback">
            <div class="__container">
                <div class="feedback__content">
                    <h1>Обратая связь <br> <p>Напишите нам!</p></h1>
                    
                    <div class="feedback__box">
                        <div class="feedback__text">
                            <h2>Контакты</h2>
                            <h3 id="email-title">E-Mail:</h3>
                            <p for="email-title feedback__label">CSGrenade@yandex.ru</p>

                            <div class="social-networks">

                            </div>
                        </div>
                        <form method="post" action="#" class="feedback__form">
                            <input type="text" name="name" required class="feedback__input name placeholder-style" placeholder="Ваше имя">
                            <input type="email" name="email" required class="feedback__input email placeholder-style" placeholder="Ваш Email">
                            <textarea name="message" id="" cols="30" rows="10" class="feedback__textarea message placeholder-style" required placeholder="Сообщение"></textarea>
                            <button class="feedback__button">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
        </footer>
    </div>
    
    <script src="../static/js/main.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>