<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/nullstyle.css">
    <title>CSGranade</title>
</head>
<body>
    <div class="wrapper">
        <div class="intro">
            <video src="../static/video/background1.webm" muted autoplay loop></video>
        </div>
        <header class="header">
            <div class="container">
                
            </div>
        </header>
        <main class="main">
            <section class="main-page">
                <div class="container">
                    dgssdfgsdfg
                </div>
            </section>
        </main>
        <footer class="footer">
            sdfsdfsdf
        </footer>
    </div>
</body>
</html>