<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/style.css">
    <link rel="shortcut icon" href="../static/img/icons/CSGLogo1.ico" type="image/x-icon">
    <title>CSGranade</title>
</head>
<body class="index-body">
    <div class="" id="snow-fall"></div>
        <div class="intro">
            <video src="../static/video/backgroundBlur1.mov" muted autoplay loop></video>
        </div>
    <div class="wrapper">
        <header id="header" class="header">
        <div class="header__container">
                <a href="home"><img src="../static/img/logo/CSGLogo1.png" alt="logo" class="header__logo"></a>
                <div class="header__menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a class="menu__link link__on-page" data-goto="" href="/home">Главная</a></li>
                            <li><a class="menu__link" data-goto="" href="/maps">Карты</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Контакты</a></li>
                            <li><a class="menu__link" data-goto="" href="feedback">Обратная связь</a></li>
                        </ul>
                    </nav>           
                </div>       
            </div>
        </header>

        <main class="main">
            <div class="__container">
                <div class="main__content">
                    <h1>CSGrenade <span>- упрости игровой процесс!</span></h1>
                    <button href="#" class="main__button">Начать!<span class="main__flare"></span></button>
                </div>
            </div>
        </main>

        <footer class="footer">
        </footer>
    </div>
    
    <script src="../static/js/main.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>