<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/scss/style.css">
    <link rel="shortcut icon" href="../static/img/icons/CSGLogo1.ico" type="image/x-icon">
    <title>CSGrenade | Feedback</title>
</head>
<body class="maps-body">
    <div class="intro">
        <video src="../static/video/background_feedback.mov" muted autoplay loop></video>
    </div>
    <div id="snow-fall" class="snow-fall ._feedback"></div>
    <div class="wrapper">
        <header id="header" class="header" style="background-color: #000;">
        <div class="header__container">
                <a href="home"><img src="../static/img/logo/CSGLogo1.png" alt="logo" class="header__logo"></a>
                <div class="header__menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a class="menu__link" data-goto="" href="/home">Главная</a></li>
                            <li><a class="menu__link link__on-page" data-goto="" href="#">Карты</a></li>
                            <li><a class="menu__link" data-goto="" href="#">Контакты</a></li>
                            <li><a class="menu__link" data-goto="" href="feedback">Обратная связь</a></li>
                        </ul>
                    </nav>           
                </div>       
            </div>
        </header>

        <section class="maps">
            <div class="__container">
              <!-- <h1>ШАГ 1 Выберите карту</h1> -->
                <div class="card-grid">
                      <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://steamuserimages-a.akamaihd.net/ugc/718664200975317037/80EA97B03F3E8011EFCE18182CE499FE9D1A4E18/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false)"></div>
                        <div class="card__content">
                          <!-- <p class="card__category"></p> -->
                          <h3 class="card__heading">Mirage</h3>
                        </div>
                      </a>
                      <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://kartinkin.net/uploads/posts/2021-03/1616030887_53-p-fon-iz-ks-go-53.jpg)"></div>
                        <div class="card__content">
                          <!-- <p class="card__category">Category</p> -->
                          <h3 class="card__heading">Inferno</h3>
                        </div>
                      </a>
                      <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://steamuserimages-a.akamaihd.net/ugc/785238527388249653/01E9D24CFF863CDBCD11FEFEF96842376FFEEE97/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true)"></div>
                        <div class="card__content">
                          <!-- <p class="card__category">Category</p> -->
                          <h3 class="card__heading">Dust 2</h3>
                        </div>
                      </li>
                      <a class="card" href="#">
                        <div class="card__background" style="background-image: url(https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2018/03/06/3c1e2b34-7d7b-4729-9654-ab99f20b3956/csgo-nuke-outside)"></div>
                        <div class="card__content">
                          <!-- <p class="card__category">Category</p> -->
                          <h3 class="card__heading">Nuke</h3>
                        </div>
                      </a>
                      
            </div>
        </section>

        <footer class="footer">
        </footer>
    </div>
    
    <script src="../static/js/main.js"></script>
    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>