@import "nullstyle.scss"; //импорт обнуления стилей

.wrapper{
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
        height: 100%;
        h1{
            font-family: 'Roboto-Regular';
            font-size: 30px;
            color: #fff;
        }
    }
}
.intro{
    object-fit: hidden;
    position: relative;
    video{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }
}
/* -------------------------------------------------------------------------- */
[class*="__container"]{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0px 20px;
}
body{

}
body._lock{
    overflow: hidden;
}
/* -----------------------FONTS--------------------------------------------------- */
@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}
/* -------------------------------------------------------------------------- */
/* -------СКРОЛ БАР------------------------------------------------------------------- */
// ::-webkit-scrollbar{
//     width: 15px;
// }
// ::-webkit-scrollbar-track{
//     background: #1f1e1e;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
// }
::-webkit-scrollbar-thumb{
    background: #d4d4d4;
    border-radius: 8px;
    border: 4px solid #1f1e1e;
}
::-webkit-scrollbar-thumb:hover{
    background: #7c7c7c;
}

::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
    -webkit-border-radius: 6px;
}
/* -----------------------ШЛЯПА--------------------------------------------------- */
.header {
    background-color: rgba(0, 0, 0, 0.466);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header__logo {
    height: 60px;
    border-radius: 50%;
}
.header__menu {
}
.menu {
}
.menu__icon {
    @media(min-width: 767.9px){
        display: none;
    }
    @media(max-width: 767.9px){
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        & span, &::before, &::after{
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.5s ease;
            background-color: #fff;
        }
        &::before,
        &::after{
            content: "";
        }
    
        &::before{
            top: 0;
        } 
        &::after{
            bottom: 0;
        }

        & span{
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        &._active span{
            transform: scale(0) translate(0px, -50%);
        }
        &._active::before{
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &._active::after{
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);   
        }

    }
}
.menu__body {
    @media(max-width: 767.9px){
        display: none;

        &{
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            padding: 100px 10px 30px 0px;
            transition: left .3s ease 0s;
            overflow: auto;
        }
        &._active{
            display: block;
            left: 0;
            .menu__list{
                flex-direction: column;
            }
        }
        &::before{
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 90px;
            background-color: rgb(0, 0, 0);
            z-index: 2;
        }
    }
}
.menu__list {
    display: flex;
    gap: 50px;
}
.menu__link {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    transition: color .3s ease;
    &:hover{
        color: rgb(241, 129, 0);
    }
}