@import "nullstyle.scss"; //импорт обнуления стилей
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    
    .main{
        flex: 1 1 auto;
        height: 100%;
    }
}
.intro{
    object-fit: hidden;
    position: relative;
    filter: brightness(0.5);
    z-index: -2;
    
    video{
        width: 100%;
        height: 101vh;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
        @media(max-width: 767.9px){
        }
    }
}
/* -------------------------------------------------------------------------- */
[class*="__container"]{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0px 15px;
}
body{
    font-family: 'Roboto-Medium';
}
.index-body{
    overflow: hidden;
}
.feedback-body{
    overflow: hidden;
    @media(max-width: 767.9px){
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.maps-body{
    overflow-y: auto;
    background-color: #000000;
}
body._lock{
    overflow: hidden;
    
}
/* -------------------------------------------------------------------------- */
#snow-fall{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}
/* -----------------------FONTS--------------------------------------------------- */
@font-face {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'LuxoraGrotesk-Bold';
    font-weight: 700;
    src: url(../fonts/LuxoraGrotesk-Bold.ttf);
}
/* -------------------------------------------------------------------------- */
/* -------СКРОЛ БАР------------------------------------------------------------------- */
// ::-webkit-scrollbar{
//     width: 15px;
// }
// ::-webkit-scrollbar-track{
//     background: #1f1e1e;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
// }
::-webkit-scrollbar-thumb{
    background: #d4d4d4;
    border-radius: 8px;
    border: 4px solid #1f1e1e;
}
::-webkit-scrollbar-thumb:hover{
    background: #7c7c7c;
}

::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
    -webkit-border-radius: 6px;
}
/* ------------------COLORS-------------------------------------------------------- */
$baseColor: #027EA7;
$accentColor: #003459;
/* -----------------------ШЛЯПА--------------------------------------------------- */
.header {
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1;
    position: relative;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 80px;
    // border-radius: 50%;
    z-index: 3;
    position: relative;
}
.header__menu {
}
.menu {
}
.menu__icon {
    display: none;
    @media(max-width: 767.9px){
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        & span,
        &::before,
        &::after{
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.5s ease;
            background-color: #fff;
        }
        &::before,
        &::after{
            content: "";
        }
    
        &::before{
            top: 0;
        } 
        &::after{
            bottom: 0;
        }

        & span{
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        &._active span{
            transform: scale(0) translate(0px, -50%);
        }
        &._active::before{
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &._active::after{
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);   
        }

    }
}

@media(max-width: 767.9px){
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        padding: 100px 10px 30px 0px;
        transition: left .3s ease 0s;
        
        overflow: auto;
        &._active{
            left: 0;
            
        }
        &::before{
            content:"";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: rgb(0, 0, 0);
            z-index: 2;
        }
    }

    .menu__list{
        flex-direction: column;
    }
    .menu__list > li{
        margin: 0px clamp(1.875rem, 0.536rem + 6.7vw, 3.75rem) 0px clamp(1.875rem, 0.536rem + 6.7vw, 3.75rem);
        .menu__link{
            font-size: 25px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.menu__list {
    display: flex;
    gap: 50px;
    @media(max-width: 767.9px){
        &{
            gap: 0;
        }
        & li{
            padding: 20px 0px;
        }
    }
}
.menu__link {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto-Bold';
    letter-spacing: 1px;
    transition: color .3s ease;
    position: relative;
    padding: 25px 0px;
    @media(max-width: 767.9px){
        padding: 5px 0px;
    }
    &:hover{
        color: $baseColor;
    }
    
}
.menu__link::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease 0s;
    background-color: $baseColor;
}
.menu__link:hover::after{
    width: 100%;
    color: $baseColor;
}
.menu__link:hover{
    color: $baseColor;
}
.menu__link.link__on-page{
    color: $baseColor;
}
.menu__link.link__on-page::after{
    width: 100%;
    color: $baseColor;
}

/* -----------------------main--------------------------------------------------- */
.main {
    // padding: clamp(9.375rem, 8.474rem + 4.5vw, 12.5rem) 0px 0px 0px;
}
.main__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow-y: hidden;
    // margin-top: clamp(1.875rem, 1.679rem + 0.98vh, 2.5rem);
    h1{
        font-size: clamp(2.5rem, 1.779rem + 3.6vw, 5rem);
        // background-image: linear-gradient(to left, #553c9a, #b393d3);
        color: #fff;
        line-height: 25px;
        background-clip: text;
        -webkit-background-clip: text;
        font-family: 'LuxoraGrotesk-Bold';
        
        span{
            font-size: clamp(1.563rem, 1.112rem + 2.25vw, 3.125rem);
            font-family: 'Roboto-Medium';
        }
    }

    .main__button{
        margin: 60px auto 0px auto;
        padding: 13px 100px;
        font-size: clamp(1.688rem, 1.531rem + 0.78vw, 2.188rem);
        position: relative;
        overflow-x: hidden;
        text-decoration: none;
        color: #ffffff;
        /* color: #23252f; */
        overflow: hidden;
        border-radius: 5px;
        font-family: 'Roboto-Bold';
        background-color: transparent;
        transition: background .5s, color .5s;
        -webkit-box-reflect: below 30px linear-gradient(transparent, #64ed842a);

        &:hover {
            background: #64ed85;
            box-shadow: 0 0 40px #64ed85;
            color: #23252f;
            transition: background .5s, color .5s;
            filter: hue-rotate(20deg);
        }
        a:active {
            box-shadow: 0 0 20px #64ed85;
            filter: hue-rotate(40deg);
        }
        
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-top: 3.5px solid #64ed85;
            border-left: 3.5px solid #64ed85;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        &:hover::after {
            width: 100%;
            height: 100%;
        }
        
        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 3.5px solid #64ed85;
            border-right: 3.5px solid #64ed85;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        
        &:hover::before {
            width: 100%;
            height: 100%;
        }
        @media(max-width: 767.9px){
            width: 90%;
            padding-left: 0px;
            padding-right: 0px;
        }
        & .main__flare{
            position: absolute;
            top: 0;
            height: 100%;
            width: 70px;
            transform: skewX(-55deg);
            animation: flare 3s infinite linear;
            filter: blur(5px);
            background: linear-gradient(90deg, #64ed844b, #64ed841c);
            @keyframes flare {
                0% {
                    left: -150%;
                }
                100%{
                    left: 150%;
                }
            }
            // @keyframes flasher {
            //      0%{
            //         background: linear-gradient(90deg, #64ed844b, #64ed841c);
            //      }
            //      50%{
            //         background: linear-gradient(90deg, #1553c54b, #1553c528);
            //      }
            //      100%{
            //         background: linear-gradient(90deg, #ca0e474b, #ca0e4628);
            //      }
            //flasher 9s infinite linear
            // }
        }
    }
}
/* ----------------------ОБРАТНАЯ СВЯЗЬ---------------------------------------------------- */
.feedback {

}
.feedback__content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback__box *{
    position: relative;
    
}
.feedback__box {
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 20px rgba(14, 14, 14, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 72px 55px 35px 55px;
    border-radius: 25px;
    @media(max-width:767.9px){
        padding: 42px 25px 60px 25px;
    }
    h1{
        font-size: clamp(1.875rem, 1.334rem + 2.7vw, 3.75rem);
        margin-bottom: 50px;
        color: #fff;
        text-shadow: 5px 5px 10px rgba(14, 14, 14, 0.3);
    }
    width: 790px;
    
}
.feedback__box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.514);
    border-radius: 25px;
    filter: blur(10px);
}
.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.validate__input{
    position: relative;
    
    .focus__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: #fff;
    }
    .focus__input::before{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #307fb8a4;
        transition: all 0.8s ease;
    }
    .focus__input::after{
        content: attr(data-placeholder);
        position: absolute;
        top: 13px;
        left: 0;
        transition: all 0.3s ease;
    }
    & .feedback__input:focus ~ .focus__input::before{
        width: 100%;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:valid ~ .focus__input::before{
        width: 100%;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:focus ~ .focus__input::after{
        top: -5px;
        font-size: 13px;
        color: #307fb8a4;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:valid ~ .focus__input::after{
        top: -5px;
        font-size: 13px;
        color: #307fb8a4;
        text-shadow: 1px 1px 5px #000000;
    }
    .focus__input2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: #fff;
    }
    .focus__input2::before{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 4px;
        background-color: #307fb8a4;
        transition: all 0.8s ease;
    }
    .focus__input2::after{
        content: attr(data-placeholder);
        position: absolute;
        top: 13px;
        left: 0;
        transition: all 0.3s ease;
    }
    & .feedback__input:focus ~ .focus__input2::before{
        width: 100%;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:valid ~ .focus__input2::before{
        width: 100%;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:focus ~ .focus__input2::after{
        top: -15px;
        font-size: 13px;
        color: #307fb8a4;
        text-shadow: 1px 1px 5px #000000;
    }
    & .feedback__input:valid ~ .focus__input2::after{
        top: -15px;
        font-size: 13px;
        color: #307fb8a4;
        text-shadow: 1px 1px 5px #000000;
    }
}

.feedback__input {
    background-color: inherit;
    border-bottom: 2px solid #929292;
    height: 45px;
    width: 100%;
    font-size: 15px;
    color: #c2bfbf;
    text-shadow: 1px 1px 5px #000000;
}



.feedback__input::placeholder{
    color: rgba(0, 0, 0, 0.671);
}
.feedback__textarea {
    resize: none;
    height: 100px;
    max-height: 160px;
    min-height: 50px;
}
.feedback__button {
    padding: 20px 40px;
    background-color: #04558f;
    cursor: pointer;
    width: 250px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    text-shadow: 3px 3px 15px #000000;
    @media(max-width: 767.9px){
        width: 100%;
    }
}
/* ------------------КАРТЫ-------------------------------------------------------- */
    $background-dark: #2d3548;
    $text-light: rgba(255,255,255,0.6);
    $text-lighter: rgba(255,255,255,0.9);
    $spacing-s: 8px;
    $spacing-m: 16px;
    $spacing-l: 24px;
    $spacing-xl: 32px;
    $spacing-xxl: 64px;
  
  .maps{
    padding: clamp(1.875rem, 0.614rem + 6.31vw, 6.25rem) 0px;
    .maps__title{
        text-shadow: 2px 2px 20px rgb(0,0,0);
        line-height: 1.4;
        font-size: 45px;
        margin: 20px 0px;
        color: #fff;
    }
  }
  .card-grid{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
  }
  
  @media(max-width: 768px){
    .card-grid{
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  @media(min-width: 768px){
    .card-grid{
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
    height: clamp(10.625rem, 9.724rem + 4.5vw, 13.75rem);
  }
  
  .card:before{
    content: '';
    display: block;
    // padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: $spacing-l;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover .card:not(:hover) .card__background{
    filter: brightness(0.6) saturate(1) contrast(1.2) blur(10px);
  }
  
  .card__content{
    left: 0;
    padding: $spacing-l;
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: $text-light;
    font-size: 0.9rem;
    margin-bottom: $spacing-s;
    text-transform: uppercase;
  }
  
  .card__heading{
    color: $text-lighter;
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgb(0,0,0);
    line-height: 1.4;
    // word-spacing: 100vw;
  }
/* -------------------------------------------------------------------------- */