@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: inherit;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.wrapper .main {
  flex: 1 1 auto;
  height: 100%;
}

.intro {
  -o-object-fit: hidden;
     object-fit: hidden;
  position: relative;
  filter: brightness(0.5);
  z-index: -2;
}
.intro video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

/* -------------------------------------------------------------------------- */
[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}

body {
  font-family: "Roboto-Medium";
}

.index-body {
  overflow: hidden;
}

.feedback-body {
  overflow: hidden;
}
@media (max-width: 767.9px) {
  .feedback-body {
    overflow-y: auto;
  }
}

body._lock {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
#snow-fall {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
#snow-fall._feedback {
  z-index: 10;
}

/* -----------------------FONTS--------------------------------------------------- */
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "LuxoraGrotesk-Bold";
  font-weight: 700;
  src: url(../fonts/LuxoraGrotesk-Bold.ttf);
}
/* -------------------------------------------------------------------------- */
/* -------СКРОЛ БАР------------------------------------------------------------------- */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 8px;
  border: 4px solid #1f1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

/* ------------------COLORS-------------------------------------------------------- */
/* -----------------------ШЛЯПА--------------------------------------------------- */
.header {
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 80px;
  z-index: 3;
  position: relative;
}

.menu__icon {
  display: none;
}
@media (max-width: 767.9px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

@media (max-width: 767.9px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 10px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list > li {
    margin: 0px 0px 0px clamp(1.875rem, 0.536rem + 6.7vw, 3.75rem);
  }
  .menu__list > li .menu__link {
    font-size: 25px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
}
.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link {
  color: #fff;
  font-size: 17px;
  font-family: "Roboto-Bold";
  letter-spacing: 1px;
  transition: color 0.3s ease;
  position: relative;
}
.menu__link:hover {
  color: #027EA7;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease 0s;
  background-color: #027EA7;
}

.menu__link:hover::after {
  width: 100%;
  color: #027EA7;
}

.menu__link:hover {
  color: #027EA7;
}

/* -----------------------main--------------------------------------------------- */
.main__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}
.main__content h1 {
  font-size: clamp(2.5rem, 1.779rem + 3.6vw, 5rem);
  color: #fff;
  line-height: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "LuxoraGrotesk-Bold";
}
.main__content h1 span {
  font-size: clamp(1.563rem, 1.112rem + 2.25vw, 3.125rem);
  font-family: "Roboto-Medium";
}
.main__content .main__button {
  margin: 60px auto 0px auto;
  padding: 13px 100px;
  font-size: clamp(1.688rem, 1.531rem + 0.78vw, 2.188rem);
  position: relative;
  overflow-x: hidden;
  text-decoration: none;
  color: #ffffff;
  /* color: #23252f; */
  overflow: hidden;
  border-radius: 5px;
  font-family: "Roboto-Bold";
  background-color: transparent;
  transition: background 0.5s, color 0.5s;
  -webkit-box-reflect: below 30px linear-gradient(transparent, rgba(100, 237, 132, 0.1647058824));
}
.main__content .main__button:hover {
  background: #64ed85;
  box-shadow: 0 0 40px #64ed85;
  color: #23252f;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.main__content .main__button a:active {
  box-shadow: 0 0 20px #64ed85;
  filter: hue-rotate(40deg);
}
.main__content .main__button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 3.5px solid #64ed85;
  border-left: 3.5px solid #64ed85;
  position: absolute;
  top: 0;
  left: 0;
}
.main__content .main__button:hover::after {
  width: 100%;
  height: 100%;
}
.main__content .main__button::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3.5px solid #64ed85;
  border-right: 3.5px solid #64ed85;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__content .main__button:hover::before {
  width: 100%;
  height: 100%;
}
@media (max-width: 767.9px) {
  .main__content .main__button {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.main__content .main__button .main__flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 70px;
  transform: skewX(-55deg);
  -webkit-animation: flare 3s infinite linear;
          animation: flare 3s infinite linear;
  filter: blur(5px);
  background: linear-gradient(90deg, rgba(100, 237, 132, 0.2941176471), rgba(100, 237, 132, 0.1098039216));
}
@-webkit-keyframes flare {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@keyframes flare {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

/* ----------------------ОБРАТНАЯ СВЯЗЬ---------------------------------------------------- */
.feedback {
  background: radial-gradient(circle, rgb(2, 126, 167) 0%, rgb(0, 52, 89) 90%);
  background-blend-mode: multiply;
}
@media (max-width: 767.9px) {
  .feedback {
    padding: 100px 0px 20px 0px;
  }
}

.feedback__content > h1, p {
  text-align: center;
}

.feedback__content {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedback__content h1 {
  font-size: clamp(1.875rem, 1.154rem + 3.6vw, 4.375rem);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-shadow: 2px 4px 10px black;
}
.feedback__content p {
  font-size: 16px;
  color: #fff;
}

.feedback__box {
  display: flex;
  justify-content: center;
  gap: 70px;
}
@media (max-width: 768.9px) {
  .feedback__box {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
}

.feedback__text {
  color: #fff;
}
.feedback__text h2 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.feedback__text h3 {
  font-size: 18px;
  font-weight: 500;
}
.feedback__text p {
  text-align: left;
  font-size: 15px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
}
@media (max-width: 767.9px) {
  .feedback__form {
    width: 100%;
  }
}

.feedback__input-name, .feedback__input-email {
  border-bottom: 1px solid #000;
  font-family: "Roboto-Medium";
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  max-width: 100%;
  position: relative;
  padding-top: 10px;
}

.for-name {
  top: 15px;
  position: absolute;
  left: 0;
  font-size: 17px;
  transition: top 0.2s;
  color: rgb(255, 255, 255);
}

.feedback__input-name:focus ~ .for-name, .feedback__input-name:valid ~ .for-name {
  top: 0px;
  font-size: 15px;
  color: #16d142;
}

.for-email {
  top: 85px;
  position: absolute;
  left: 0;
  font-size: 17px;
  transition: top 0.2s;
  color: rgb(255, 255, 255);
}

.feedback__input-email:focus ~ .for-email, .feedback__input-email:valid ~ .for-email {
  top: 70px;
  font-size: 15px;
  color: #16d142;
}

.placeholder-style::-moz-placeholder {
  color: white;
}

.placeholder-style:-ms-input-placeholder {
  color: white;
}

.placeholder-style::placeholder {
  color: white;
}

.feedback__textarea {
  border-bottom: 1px solid #000;
  font-family: "Roboto-Medium";
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  resize: none;
  height: 100px;
}

.feedback__button {
  width: 200px;
  margin-left: auto;
  margin-top: 20px;
  padding: 15px 50px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto-Bold";
}
@media (max-width: 767.9px) {
  .feedback__button {
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- *//*# sourceMappingURL=style.css.map */