@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: inherit;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}
.wrapper .main {
  flex: 1 1 auto;
  height: 100%;
}

.intro {
  -o-object-fit: hidden;
     object-fit: hidden;
  position: relative;
  filter: brightness(0.5);
  z-index: -2;
}
.intro video {
  width: 100%;
  height: 101vh;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
/* -------------------------------------------------------------------------- */
[class*=__container] {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}

body {
  font-family: "Roboto-Medium";
}

.index-body {
  overflow: hidden;
}

.feedback-body {
  overflow: hidden;
}
@media (max-width: 767.9px) {
  .feedback-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.maps-body {
  overflow-y: auto;
  background-color: #000000;
}

body._lock {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
#snow-fall {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

/* -----------------------FONTS--------------------------------------------------- */
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "LuxoraGrotesk-Bold";
  font-weight: 700;
  src: url(../fonts/LuxoraGrotesk-Bold.ttf);
}
/* -------------------------------------------------------------------------- */
/* -------СКРОЛ БАР------------------------------------------------------------------- */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 8px;
  border: 4px solid #1f1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

/* ------------------COLORS-------------------------------------------------------- */
/* -----------------------ШЛЯПА--------------------------------------------------- */
.header {
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 80px;
  z-index: 3;
  position: relative;
}

.menu__icon {
  display: none;
}
@media (max-width: 767.9px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.5s ease;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}

@media (max-width: 767.9px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 100px 10px 30px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list > li {
    margin: 0px clamp(1.875rem, 0.536rem + 6.7vw, 3.75rem) 0px clamp(1.875rem, 0.536rem + 6.7vw, 3.75rem);
  }
  .menu__list > li .menu__link {
    font-size: 25px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
}
.menu__list {
  display: flex;
  gap: 50px;
}
@media (max-width: 767.9px) {
  .menu__list {
    gap: 0;
  }
  .menu__list li {
    padding: 20px 0px;
  }
}

.menu__link {
  color: #fff;
  font-size: 17px;
  font-family: "Roboto-Bold";
  letter-spacing: 1px;
  transition: color 0.3s ease;
  position: relative;
  padding: 25px 0px;
}
@media (max-width: 767.9px) {
  .menu__link {
    padding: 5px 0px;
  }
}
.menu__link:hover {
  color: #027EA7;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease 0s;
  background-color: #027EA7;
}

.menu__link:hover::after {
  width: 100%;
  color: #027EA7;
}

.menu__link:hover {
  color: #027EA7;
}

.menu__link.link__on-page {
  color: #027EA7;
}

.menu__link.link__on-page::after {
  width: 100%;
  color: #027EA7;
}

/* -----------------------main--------------------------------------------------- */
.main__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  overflow-y: hidden;
}
.main__content h1 {
  font-size: clamp(2.5rem, 1.779rem + 3.6vw, 5rem);
  color: #fff;
  line-height: 25px;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "LuxoraGrotesk-Bold";
}
.main__content h1 span {
  font-size: clamp(1.563rem, 1.112rem + 2.25vw, 3.125rem);
  font-family: "Roboto-Medium";
}
.main__content .main__button {
  margin: 60px auto 0px auto;
  padding: 13px 100px;
  font-size: clamp(1.688rem, 1.531rem + 0.78vw, 2.188rem);
  position: relative;
  overflow-x: hidden;
  text-decoration: none;
  color: #ffffff;
  /* color: #23252f; */
  overflow: hidden;
  border-radius: 5px;
  font-family: "Roboto-Bold";
  background-color: transparent;
  transition: background 0.5s, color 0.5s;
  -webkit-box-reflect: below 30px linear-gradient(transparent, rgba(100, 237, 132, 0.1647058824));
}
.main__content .main__button:hover {
  background: #64ed85;
  box-shadow: 0 0 40px #64ed85;
  color: #23252f;
  transition: background 0.5s, color 0.5s;
  filter: hue-rotate(20deg);
}
.main__content .main__button a:active {
  box-shadow: 0 0 20px #64ed85;
  filter: hue-rotate(40deg);
}
.main__content .main__button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 3.5px solid #64ed85;
  border-left: 3.5px solid #64ed85;
  position: absolute;
  top: 0;
  left: 0;
}
.main__content .main__button:hover::after {
  width: 100%;
  height: 100%;
}
.main__content .main__button::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3.5px solid #64ed85;
  border-right: 3.5px solid #64ed85;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main__content .main__button:hover::before {
  width: 100%;
  height: 100%;
}
@media (max-width: 767.9px) {
  .main__content .main__button {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.main__content .main__button .main__flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 70px;
  transform: skewX(-55deg);
  -webkit-animation: flare 3s infinite linear;
          animation: flare 3s infinite linear;
  filter: blur(5px);
  background: linear-gradient(90deg, rgba(100, 237, 132, 0.2941176471), rgba(100, 237, 132, 0.1098039216));
}
@-webkit-keyframes flare {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
@keyframes flare {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

/* ----------------------ОБРАТНАЯ СВЯЗЬ---------------------------------------------------- */
.feedback__content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__box * {
  position: relative;
}

.feedback__box {
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 20px rgba(14, 14, 14, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 72px 55px 35px 55px;
  border-radius: 25px;
  width: 790px;
}
@media (max-width: 767.9px) {
  .feedback__box {
    padding: 42px 25px 60px 25px;
  }
}
.feedback__box h1 {
  font-size: clamp(1.875rem, 1.334rem + 2.7vw, 3.75rem);
  margin-bottom: 50px;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(14, 14, 14, 0.3);
}

.feedback__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.514);
  border-radius: 25px;
  filter: blur(10px);
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.validate__input {
  position: relative;
}
.validate__input .focus__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #fff;
}
.validate__input .focus__input::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgba(48, 127, 184, 0.6431372549);
  transition: all 0.8s ease;
}
.validate__input .focus__input::after {
  content: attr(data-placeholder);
  position: absolute;
  top: 13px;
  left: 0;
  transition: all 0.3s ease;
}
.validate__input .feedback__input:focus ~ .focus__input::before {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:valid ~ .focus__input::before {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:focus ~ .focus__input::after {
  top: -5px;
  font-size: 13px;
  color: rgba(48, 127, 184, 0.6431372549);
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:valid ~ .focus__input::after {
  top: -5px;
  font-size: 13px;
  color: rgba(48, 127, 184, 0.6431372549);
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .focus__input2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #fff;
}
.validate__input .focus__input2::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 4px;
  background-color: rgba(48, 127, 184, 0.6431372549);
  transition: all 0.8s ease;
}
.validate__input .focus__input2::after {
  content: attr(data-placeholder);
  position: absolute;
  top: 13px;
  left: 0;
  transition: all 0.3s ease;
}
.validate__input .feedback__input:focus ~ .focus__input2::before {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:valid ~ .focus__input2::before {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:focus ~ .focus__input2::after {
  top: -15px;
  font-size: 13px;
  color: rgba(48, 127, 184, 0.6431372549);
  text-shadow: 1px 1px 5px #000000;
}
.validate__input .feedback__input:valid ~ .focus__input2::after {
  top: -15px;
  font-size: 13px;
  color: rgba(48, 127, 184, 0.6431372549);
  text-shadow: 1px 1px 5px #000000;
}

.feedback__input {
  background-color: inherit;
  border-bottom: 2px solid #929292;
  height: 45px;
  width: 100%;
  font-size: 15px;
  color: #c2bfbf;
  text-shadow: 1px 1px 5px #000000;
}

.feedback__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.671);
}

.feedback__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.671);
}

.feedback__input::placeholder {
  color: rgba(0, 0, 0, 0.671);
}

.feedback__textarea {
  resize: none;
  height: 100px;
  max-height: 160px;
  min-height: 50px;
}

.feedback__button {
  padding: 20px 40px;
  background-color: #04558f;
  cursor: pointer;
  width: 250px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  text-shadow: 3px 3px 15px #000000;
}
@media (max-width: 767.9px) {
  .feedback__button {
    width: 100%;
  }
}

/* ------------------КАРТЫ-------------------------------------------------------- */
.maps {
  padding: clamp(1.875rem, 0.614rem + 6.31vw, 6.25rem) 0px;
}
.maps .maps__title {
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
  line-height: 1.4;
  font-size: 45px;
  margin: 20px 0px;
  color: #fff;
}

.card-grid {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  list-style: none;
  position: relative;
  height: clamp(10.625rem, 9.724rem + 4.5vw, 13.75rem);
}

.card:before {
  content: "";
  display: block;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover .card:not(:hover) .card__background {
  filter: brightness(0.6) saturate(1) contrast(1.2) blur(10px);
}

.card__content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card__category {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgb(0, 0, 0);
  line-height: 1.4;
}

/* -------------------------------------------------------------------------- *//*# sourceMappingURL=style.css.map */